<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Proyecto</title>

    <!-- Link a Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- Favicon (opcional) -->
    <!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->
    <!-- Link a CSS externo -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div>
        <!-- Header -->
        {% include 'partials/header.html' %}

        <!-- Parallax-->
        <div class="section1">
            <div class="text">COMBAT TRACKER</div>
        </div>

        <div class="content content1">
            <div class="text">CONTENIDO</div>
        </div>

        <div class="content content2">
            <div class="text">CONTENIDO</div>
        </div>

        <div class="content content3">
            <div class="text">CONTENIDO</div>
        </div>

    </div>

    <!-- Script JS externo -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script>
        const header = document.querySelector('header');

        window.addEventListener('scroll', () => {
        if (window.scrollY > 50) {
            header.classList.add('scrolled'); // fondo transparente al bajar
        } else {
            header.classList.remove('scrolled'); // fondo sólido al subir
        }
        });
    </script>
</body>
</html>
