body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background: linear-gradient(135deg, #8b0000 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #f5f5f5;
}


.login-container {
    background-color: #1b1b1b;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: 1px solid #333; 
}

h2 {
    margin-top: 0;
    color: #ffffff; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    align-self: flex-start;
    font-weight: 600;
    margin-bottom: -0.5rem;
    color: #e0e0e0;
}

input {
    width: 95%;
    padding: 0.75rem;
    border: 1px solid #555;
    border-radius: 8px;
    background-color: #2a2a2a;
    color: #fff;
    transition: border-color 0.3s, background-color 0.3s;
}

input:focus {
    outline: none;
    border-color: #b8934d;
    background-color: #333;
}

button {
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 0.5rem;
}

#login-button {
    background-color: #b8934d;
    color: #1b1b1b;
}

#login-button:hover {
    background-color: #b8934d;
    transform: translateY(-2px);
}

#message {
    margin-top: 1rem;
    font-weight: 600;
}

.register-btn {
    background-color: #b8934d;
    color: #1b1b1b;
    margin-top: 1.5rem;
}

.register-btn:hover {
    background-color: #b8934d;
    transform: translateY(-2px);
}


.register-container {
    background-color: #1b1b1b;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: 1px solid #333;
}


.register-container h2 {
    color: #ffffff;
}

#register-button {
    background-color: #b8934d;
    color: #1b1b1b;
}

#register-button:hover {
    background-color: #b8934d;
    transform: translateY(-2px);
}

.login-btn {
    background-color: #b8934d;
    color: #1b1b1b;
    margin-top: 1.5rem;
}

.login-btn:hover {
    background-color: #b8934d;
    transform: translateY(-2px);
}
